/* Код выпадающего окна корзины. Можна удалить */
#cart_contents
{
    display: block !important;
}
/* Конец кода. */

.dl-menuwrapper
{
    display: none !important;

    position: relative;
    top: -30px;

    z-index: 8;
}
.dl-menuwrapper a
{
    text-decoration: none;
}

.dl-menuwrapper .dl-trigger
{
    font-size: 0;
    color: transparent;

    padding: 0;

    width: 36px;
    height: 30px;

    background-size: auto 100%;
}
.dl-menuwrapper .dl-trigger, .dl-menuwrapper .dl-trigger:hover, .dl-menuwrapper .dl-menuwrapper .dl-trigger.dl-active
{
    background: #009846 url(img/phones_bg2-1512512252.png) repeat-x center !important;
}
.dl-menuwrapper ul
{
    background: #009846;
}
.dl-menuwrapper .dl-trigger:before
{
    content: '';
    display: block;
    position: relative;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url("img/icons/hamburger.png") no-repeat center;
}
.dl-menuwrapper .dl-trigger:after
{
    display: none;
}


@media only screen and (max-width:1080px)
{
    #logo
    {
        z-index: 102;
    }
    #social_popup
    {
        display: none !important;
    }
    #container
    {
        margin-bottom: 0;
    }
    .pagewidth
    {
        box-sizing: border-box;
        width: 100%;
        min-width: 1px;
        max-width: none;
    }
    .ware_page
    {
        width: 100%;
    }

    header
    {
        padding-bottom: 10px;
    }
    header nav.infopages
    {
        width: 70px;
        /*padding: 0 20px;*/
        box-sizing: border-box;
    }
    header nav.infopages .infopages-trigger
    {
        display: block !important;
        margin-top: 3px;
        margin-left: 3px;
        margin-bottom: 3px;
        cursor: pointer;
    }
    header nav.infopages .infopages-trigger img
    {
        display: block;
    }
    header nav.infopages ul
    {
        position: fixed;
        z-index: 12;
        top: 35px;
        left: 0;
        bottom: 0;

        background: #343232;
        width: 0;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;

        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
    header nav.infopages ul.active
    {
        width: 250px;
    }
    header nav.infopages ul li
    {
        float: none;
        padding: 0 20px !important;
    }
    header nav.infopages ul li.current_user
    {
        padding-left: 0;
    }

    header #phones .phone-icon
    {
        position: absolute;
    }

    header #mobile
    {
        background: transparent url(img/mobile_bg-1512512252.png) 0 35px no-repeat;
    }
    header #mobile .head
    {
        text-align: right;
    }
    header #mobile div
    {
        float: right;
    }
    header #mobile div p
    {
        text-align: right;
    }

    header #cart a#cart_link
    {
        border: none !important;
    }

    #top_back2
    {
        top: 35px;
        height: 60px;
    }

    header nav#categories
    {
        font-size: 12px;
    }

    #top_banner_carousel
    {
        width: 100%;
        overflow: hidden;
    }

    #top_banner_carousel ul li
    {
        width: calc(100vw - 40px);
        height: auto;
    }
    #top_banner_carousel ul li img
    {
        display: block;
        width: calc(100vw - 40px);
        height: auto;
    }

    #footer_margin
    {
        display: none;
    }
    footer
    {
        height: auto;
        padding: 20px 0;
    }
    footer #main_contacts,
    footer nav.infopages
    {
        position: static;
        height: auto;
    }

    footer .pagewidth
    {
        display: flex;
        justify-content: space-between;
    }
    footer .pagewidth .infopages
    {
        margin-left: 0;
    }
    footer #main_contacts p.phone
    {
        margin-top: 0;
    }

    footer .pagewidth .infopages ul li
    {
        text-align: right;
    }

    #mobile
    {
        display: none;
    }
    header #phones ul
    {
        margin-right: 0;
    }
    #top_back2
    {
        background: #009846 url(img/phones_bg2-1512512252.png);
        top: 36px;
        height: 59px;
    }

    .dl-menuwrapper
    {
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 101;
    }
    .dl-menuwrapper .dl-trigger
    {
        float: right;
    }
    .dl-menuwrapper .dl-menu
    {
        margin-top: 50px;
        z-index: 20;
    }
    .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after
    {
        top: 50%;

        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ukrsibbank .usb-table
    {
        width: 100%;
        overflow-x: scroll;
    }

    .index_ware_block
    {
        margin-right: -2px;
    }
    .index_ware_block ul li
    {
        display: block;
        float: left;
        width: calc(50% - 12px);
    }
    .index_ware_block ul li a,
    .index_ware_block ul li div.buttons
    {
        width: 100%;
    }



}
@media only screen and (max-width:991px)
{
    #container
    {
        min-height: auto;
    }
    .dl-menuwrapper
    {
        display: block !important;
    }
    header #categories
    {
        display: none !important;
    }

    header #logo
    {
        top: 50px;
        left: 0;
    }
    header #logo a
    {
        background-size: contain;

        width: 120px;
        height: 42px;
    }

    header #phones .phones-inner .phone-icon
    {
        position: absolute;
        z-index: 102;
        display: block !important;

        margin-left: 5px;
        margin-top: 14px;
        height: 30px;
        cursor: pointer;
    }
    header #phones .phones-inner
    {
        margin-left: 260px;
        margin-right: 240px;

        background: #009846 url(img/phones_bg2-1512512252.png) repeat-x left top;
        background-size: auto 100%;

        position: relative;
        height: 59px;
    }
    header #phones .phones-inner ul
    {
        width: 200px;
        height: 0;
        overflow: hidden;

        margin: 0;
        padding-top: 64px;
        background: transparent;
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        z-index: 101;

        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
    header #phones .phones-inner ul.opened
    {
        height: 120px;
    }
    header #phones ul li
    {
        float: none;
        width: 100%;
        height: auto;
        padding: 5px 10px;
        box-sizing: border-box;
        background: #009846;
    }

    header #phones ul li span.city
    {
        margin-top: 0;
    }

    header #mobile div.head + div
    {
        padding-top: 10px;
        box-sizing: border-box;
    }
    header #mobile div p
    {
        margin-top: 5px;
    }

    header #searchform
    {
        margin-top: 10px;
        margin-right: 190px;
        box-shadow: none;

        position: relative;
        z-index: 9;
    }
    header #searchform input
    {
        outline: none;
    }

    header #cart
    {
        width: 180px;
        height: 50px;
    }
    header #cart a#cart_link
    {
        height: 48px;
        background: transparent url(img/cart-1512512252.png) 20px 5px no-repeat;
    }
    header #cart a#cart_link .cart
    {
        padding-top: 10px;
    }


    #top_banner_carousel a.button
    {
        top: calc(50% - 28px);

        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #cart_contents
    {
        position: absolute;
        width: 240px;
        top: 50px;
        right: 0;
    }
    header #cart a#cart_link:hover, header #cart a#cart_link.opened
    {
        background: transparent;
        border: none !important;
    }

    form.contacts input, form.contacts textarea
    {
        width: 100%;
        box-sizing: border-box;
    }

    .ware_page .main_info .image,
    .ware_page .main_info .info
    {
        display: block;
        width: 100%;
        padding-left: 0;
    }
    .ware_page .main_info .image .main_image
    {
        width: 100%;
        display: block;
    }
    .ware_page .main_info .info
    {
        margin-top: 20px;
    }
    .ware_page .main_info .info .price_block .options_block
    {
        vertical-align: middle;
    }
    .ware_page .main_info .info .price_block .options_block .wrapper button.credit
    {
        margin-bottom: 0;
    }


    div.purchasing_by_phone input
    {
        width: 200px;
    }
}
@media only screen and (max-width:767px)
{
    .delivery-payment-info .delivery,
    .delivery-payment-info .payment
    {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .content-with-wide-sidebar .sidebar,
    .content-with-wide-sidebar .content
    {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .content-with-wide-sidebar .content
    {
        margin-top: 20px;
    }

    .content-with-sidebar .sidebar,
    .content-with-sidebar .content
    {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    div.purchasing_by_phone form
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div.purchasing_by_phone label
    {
        margin-right: 20px;
    }

    div.purchasing_by_phone label
    {
        margin-top: 10px;
    }
    div.purchasing_by_phone label,
    div.purchasing_by_phone input,
    button.order
    {
        display: block;
        box-sizing: border-box;
    }
    div.purchasing_by_phone input#contact_phone,
    div.purchasing_by_phone input#contact_name,
    button.order
    {
        margin-left: 0;
        width: 160px;
    }
}
@media only screen and (max-width:639px)
{
    header #cart
    {
        z-index: 9;
    }
    header #mobile
    {
        width: 198px;
        z-index: 10;
    }
    header #mobile .head,
    header #mobile div
    {
        margin-left: 0;
    }

    header #phones
    {
        background: transparent url(img/phones_bg-1512512252.png) -60px 0 no-repeat;
    }
    header #phones .phones-inner
    {
        margin-right: 150px;
        margin-left: 200px;
    }

    header #logo
    {
        top: 52px;
    }
    header #searchform
    {
        margin-left: 200px;
        margin-right: 50px;
    }

    header #cart
    {
        width: 30px;
    }

    header #cart a#cart_link
    {
        background: none;
    }

    header #cart a#cart_link .cart,
    header #cart a#cart_link .cart + span
    {
        display: none;
    }

    header #cart a#cart_link span.cart-mobile
    {
        margin: 8px 0 0;

        display: block !important;
        width: 30px;
        height: 30px;
        background: url('img/icons/cart.png') no-repeat left center;
        background-size: 30px auto;

        position: relative;
    }
    header #cart a#cart_link span.cart-mobile span
    {
        margin: 0;

        display: block;
        background: #ffffff;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        line-height: 12px;

        text-align: center;
        font-size: 10px;

        position: absolute;
        top: 0;
        right: -5px;
    }

    #top_banner_carousel a.prev,
    #top_banner_carousel a.next
    {
        height: 110px;
        width: 22px;
        background-size: auto 100%;
    }

    .ware_page .main_info .image .main_image
    {
        height: auto;
    }
    .ware_page .main_info .image .main_image img
    {
        display: block;
        width: 100%;
    }

    .ware_page .main_info .info .price_block .main_price_block,
    .ware_page .main_info .info .price_block .options_block
    {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .ware_page .main_info .info .price_block .main_price_block
    {
        padding-top: 10px;
    }
    .ware_page .main_info .info .price_block .main_price_block p.remains
    {
        margin-top: 0;
    }
    .ware_page .main_info .info .price_block .options_block
    {
        padding: 10px 0;
    }




    /* CHECKOUT & CART ---------------------------------------------- */

    table.cart-totals
    {
        width: 100%;
    }
    div.purchasing form div.container div.private,
    div.purchasing form div.container div.delivery,
    div.purchasing form div.container div.payment
    {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    table.cart-list thead th
    {
        font-size: 9px;
    }
    table.cart-list tbody tr td
    {
        padding: 20px 10px;
    }

    table.cart-list tbody tr td.image img
    {
        display: block;
        width: 40px;
    }
    table.cart-list tbody tr td.title
    {
        width: 100px;
        font-size: 11px;
    }
    table.cart-list tbody tr td.title .ware_code
    {
        font-size: 11px;
    }
    table.cart-list tbody tr td.qty,
    table.cart-list tbody tr td input,
    table.cart-list tbody tr td.price,
    table.cart-list tbody tr td.sum
    {
        font-size: 12px;
    }
    table.cart-list tbody tr td.actions a.delete
    {
        width: 12px;
        height: 12px;
        background-size: contain;
    }


    .purchasing_by_phone button.order
    {
        background-size: 100% auto;
        width: 240px;
        margin-top: 20px;
    }
}
@media only screen and (max-width:500px)
{
    header #phones
    {
        background: none;
    }
    header #phones .phones-inner
    {
        background: transparent;

        margin-left: 108px;
    }
    header #phones .phones-inner .phone-icon svg g
    {
        fill: #009846 !important;
    }

    #top_back2
    {
        left: calc(100% - 168px);
        height: 59px;
    }

    header #logo
    {
        top: 45px;
    }
    header #logo a
    {
        width: 100px;
    }
    header #mobile
    {
        width: 195px;
    }
    header #mobile div
    {
        height: 58px;
    }
    header #searchform
    {
        margin-left: 50px;
    }

    #top_back2
    {
        display: none;
    }

    header #phones .phones-inner
    {
        margin-right: 46px;
    }
    header #phones .phones-inner .phone-icon
    {
        right: 0;
    }
    header #phones .phones-inner ul
    {
        left: auto;
    }
    header #searchform
    {
        margin-left: 0;
    }
    header nav.infopages ul
    {
        z-index: 103;
    }

    .index_ware_block ul li
    {
        width: 100%;
        float: none;
    }



    /* CHECKOUT & CART ---------------------------------------------- */

    table.cart-list thead th.price,
    table.cart-list tbody tr td.price
    {
        display: none;
    }
    table.cart-list tbody tr td.title
    {
        width: 80px;
    }

    table.cart-list tbody tr td.sum
    {
        background: #f9f9f9;
    }
    table.cart-list tbody tr td.actions
    {
        background: #ffffff;
    }

    nav.purchasing ul li a
    {
        font-size: 11px;
    }

    div.purchasing_by_phone label
    {
        position: relative;
        left: -20px;
    }
    div.purchasing_by_phone input#contact_phone
    {
        position: relative;
        left: -17px;
        margin-bottom: 20px;
    }
    div.purchasing_by_phone input#contact_phone, div.purchasing_by_phone input#contact_name, button.order
    {
        width: 240px;
        margin-right: 0;
    }
}